:root {
  --clr1: #ff0087;
  --clr2: #01ff5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  overflow: hidden;
}
.smile-face {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  min-height: 100vh;
}
.smile-face__label {
  position: relative;
  width: 150px;
  height: 150px;
}
.smile-face__input {
  appearance: none;
}
.smile-face__face {
  position: absolute;
  inset: 0;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}
.smile-face__face::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 45px;
  width: 15px;
  height: 15px;
  background-color: #111;
  border-radius: 50%;
  box-shadow: 45px 0 0 #111;
  opacity: 0.5;
}
.smile-face__face::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
  width: 40px;
  height: 8px;
  border-radius: 8px;
  background-color: #111;
  opacity: 0.5;
  transition: 0.5s;
}
.smile-face__input:checked ~ .smile-face__face::after {
  width: 40px;
  height: 20px;
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateX(-50%) translateY(10px);
}
.smile-face__input:checked ~ .smile-face__face {
  background-color: var(--clr1);
}
.smile-face__label:nth-child(even)
  .smile-face__input:checked
  ~ .smile-face__face {
  background-color: var(--clr2);
}
